body{
	background-color: #f1dfdf;
}

div{
	padding:20px;
}

div.main{
	z-index:10;
	padding-top:10px;

}

div.header{
	margin-bottom:20px;
	background-color: #AC8EB8;
	float:left;
}

div.feeds{
	float:right;
	background-color: #AC8EB8;
}

div.feed{
	display:inline-block;
	padding:5px;
}

div.doodls{
	position:fixed;
	text-align: center;
	padding-right:5px;
	padding-left:5px;
	margin-top:-50;
	z-index:-10;
}


h1 {
	margin-top:0;
}


