body{
	background-color: #D9CD73;
}

div{
	padding:20px;
}

div.header{
	margin-bottom:5px;
	background-color: #AC8EB8;
}

div.feeds{
	background-color: #AC8EB8;
}

div.feed{
	display:inline-block;
	padding:5px;
}

div.doodls{
	text-align: center;
	padding-right:5px;
	padding-left:5px;
}

h1 {
	margin-top:0;
}


