body{
	background-color: #f1dfdf;
}

div{
	padding:20px;
}

div.main{
	z-index:10;
	padding-top:10px;

}

div.header{
	margin-bottom:20px;
	background-color: #AC8EB8;
	float:left;
	width:55%;
	display:block;
}

div.header img{
	max-width:100%;
	max-height:100%;
}

div.feedsR{
	clear:both;
	float:right;
	max-width:70%;
	background-color: #AC8EB8;
}

div.feedsL{
	clear:both;
	float:left;
	max-width:70%;
	background-color: #AC8EB8;
	margin-top:10px;
}

div.feed{
	display:inline-block;
	padding:5px;
}

div.doodls{
	position:fixed;
	text-align: center;
	padding-right:5px;
	padding-left:5px;
	margin-top:-50;
	z-index:-10;
}

div.logo{
	float:right;
    margin-top: 20px;
    display: inline-block;
    width: 100px;
    height: 100px;

	margin-right:20px;
	background-color: black;


	-webkit-mask-image: url("/image/logo_transparent.png");
	-webkit-mask-size:contain;
	-webkit-mask-repeat:no-repeat;

	mask-image: url("/image/logo_transparent.png");
	mask-size:contain;
	mask-repeat:no-repeat;
}

div.top{
	padding:0px;
	width:100%;
}

h1 {
	margin-top:0;
}


