{% for doodl in doodls: %} 
#doodl{{ doodl['id'] }}{
	width:80px;
	height:80px;
	background-color: {{ doodl['color'] }};
	-webkit-mask-image: url( {{ doodl['url'] }} );
	-webkit-mask-size:contain;
	mask-image:url( {{ doodl['url'] }} );
	mask-size:contain;
	display:inline-block;
}

{% endfor %}
