{% for doodl in doodls: %} 
#doodl{{ doodl['id'] }}{
	width:{{ doodl['size'] }}px;
	height:{{ doodl['size'] }}px;
	background-color: {{ doodl['color'] }};
	-webkit-mask-image: url( {{ doodl['url'] }} );
	-webkit-mask-size:contain;
	mask-image:url( {{ doodl['url'] }} );
	mask-size:contain;
	display:inline-block;
}

{% endfor %}
